*,
* ::before,
* ::after   {
    box-sizing: border-box;
}

body {
    font-family:'Montserrat', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.products {
    max-width: 1110px;
    margin: 0 auto;
    background-image: url(../img/bg\ 1.png);
    background-repeat: no-repeat;
    background-size: 790px 697px;
}

.products__title {
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    padding-top: 220px;
    text-align: center;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-card {
    background-color: #F7F7FA;
    width: 340px;
    padding: 25px;
    margin-bottom: 45px;
    border: 1px solid #F7F7FA;
    border-radius: 10px;
}

.product-card__image {
    margin-bottom: 30px;
}

.product-card__skin-type {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 5px;
    color: #A5A3B9;
}

.product-card__title {
    font-size: 20px;
    line-height: 27px;
    margin: 5px 0 5px 0;
}

.product-card__description {
    font-size: 13px;
    line-height: 18px;
    
}

.product-card__compound-title {
    display: block;
    line-height: 18px;
    margin: 0;
    padding: 15px 0 5px 0;
}

.product-card__compound-item {
    font-size: 13px;
    line-height: 18px;   
}

.product-card__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.product-card__price-label {
    font-size: 20px;
    line-height: 24px;
}

.product-card__price {
    font-size: 20px;
    line-height: 24px;
}   

.product-card__compound-list {
    margin: 0;
    padding-left: 0;
    list-style-position: inside;
}

#change-return-color {
    
    transition: background-color 0.3s ease; /* Первый цвет */
}

#change-return-color.active {
    background-color: purple; /* Второй цвет */
}

